# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake, building folder, testfile
build
#CMakeLists.txt
prove_test
loader.cpp
exclude
#cmake

.DS_Store
analysis
test/Data/*
test/main_private*
doc
.pre-commit-clang-format
